
.gradle/7.5/executionHistory/executionHistory.bin
.gradle/7.5/executionHistory/executionHistory.lock
.gradle/7.5/fileHashes/fileHashes.bin
.gradle/7.5/fileHashes/fileHashes.lock
.gradle/7.5/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
local.properties
*.bin
android/local.properties
.android/local.properties
*.properties
local.properties
local.properties
*.lock
